.head{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.text h1{
    /* padding: 10px 10px; */
    color: green;   
}
.navigate a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
}
.navigate button{
    width: 100px;
    height: 25px;
    background-color: green;
    color: aliceblue;
    border-radius: 25px;
    border: 1px solid green;
}.spec h4{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* banner */
.flex-box{
    width: 100%;
    height: auto;
    display: flex;

}
.image{
    width: 100%;
    height: auto;
    position: relative;
}

.image img{
    width: 100%;
    height: 600px;
}
.flex-txt{
    position: absolute;
    top: 200px;
    left: 10%;
   
   
  
}
.flex-txt h3{
    font-size: 38px;
    font-weight: 900;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.flex-txt p{
    font-size: 18px;
    color: rgb(201, 226, 248);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   


}
.flex-txt button{
    width: 125px;
    height: 30px;
    color: white;
    /* background-color: green; */
    background-color:transparent;
    border-radius: 25px;
    border: 1px solid white; 
 
}

/* about */
.containe{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.flexbox-about{
    width: 100%;
    height: auto;
    display: flex;
}
.flex-text ,.about-img{
    width: 50%;
    height: auto;
    display: flex;
    

}
.about{
    margin-top: 50px;
}
.txt p{
    text-align: left;
    color: rgb(61, 33, 56);
}
.about-img img{
    width: 100%;
    height: auto;
}
/* counts */
.counts{
    background-color: rgb(234, 247, 242);
    /* padding-left: 10%; */
    margin-top: 50px;
}
.count
{
    width: 100%;
    height: auto;
    justify-content: space-around;
    display: flex;
    
}
.students{
    width: 25%;
    height: auto;
}
.students h1{
    color: green;
    text-align: center;
}
.students p{
    text-align: center;
}
/* mentor */
.mentor{
    margin-top: 50px;
}
.mentor-text{
    width: 100%;
    height: auto;
    display: flex;
}
.flexbox1{
    width: 30%;
    height: auto;
    background-color: rgb(71, 194, 71);
    display: flex;
    border-radius: 5px;
}
.flex-pad p{
    text-align: left;
}

.flex-pad{
    width: 100%;
    height: auto;
    padding: 15px 15px;
}
.flexbox1 h2{
    color: aliceblue;
    font-size: 26px;

}
.flexbox1 p{
    color: aliceblue;
    font-size: 18px;
    
}
.flexbox1 button{
    color: aliceblue;
    font-size: 16px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 25px;
    border: 1px solid  rgba(92, 138, 102, 0.25);
    align-items: center;
    text-align: center;
    
}
.flexbox3{
    width: 70%;
    height: auto;
    display: flex;
    margin: 10px;
}
.flexbox2{
    width: 60%;
    height: 250px;
    border: 1px solid rgb(206, 201, 201);
    margin: 10px;
    border-radius: 5px;
    
}
.flexbox2 h3 {
    text-align: center;
    font-size: 20px;
    color: rgb(114, 113, 113);
    line-height: 50px;

}
.flexbox2 p {
    text-align: center;
    font-size: 16px;
    color: rgb(114, 113, 113);
    line-height: 30px;

}
.flexpad-1{
    width: 100%;
    height: auto;
    margin: 5px;
    
}
.flexpad-1 i{
    /* width: 100px;
    height: 100px; */
    border-radius: 50%;
    background-color: rgb(149, 218, 149);
    font-size: 22px;
    color: rgb(32, 182, 32);
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 40%;

}
.spec{
    margin-top: 50px;
}
.icon{
    
    margin-top: 25px;
}
.icons h4{
    display: inline-block;
}
.icons{
    border: 1px solid rgb(206, 201, 201);
   
}
.icons i{
    font-size: 22px;
}
.popular
{
    margin-top: 50px;
}
.red{
    border: 1px solid rgb(206, 201, 201);
}
.pop-dev ,.pop-icon {
    display: flex;
    justify-content: space-between;
    
}
.pop-icon{
    margin: 10px;
}
.pop-dev{
    margin: 10px 10px;
}
.popweb button{
background-color: aquamarine;
border: 1px solid aquamarine ;

}
.card-body{
    margin-left: 10px;
}
.card-title, .card-text{
    text-align: left;
    color: rgb(34, 15, 59);
}
.card1{
    border-radius: 0px;
    border: 1px solid grey;
}
.trainer{
    margin-top: 50px;
}

.pop-icon h5 ,i{
    display: inline-block;
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.trainer-icon i{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: rgb(127, 128, 133);
    text-align: center;

}
.cart-body{
    border: 1px solid grey;  
    border-top: 0px;
    margin-left: 0px;
}
.cart-body h5{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.cart-body h6,p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(66, 47, 63);
}
.card-text{
    text-align: center;
}
.trainer-icon{
    margin-bottom: 15px;
    text-align: center;
}
.trainer-icon i:hover{
    
  color: rgb(111, 142, 228);
}
.footer
{
    margin-top: 50px;
    background-color: rgb(241, 242, 243);
    padding-top: 25px;
}
.mentor h6{
    color: rgb(66, 47, 63);
    font-size: 14px;
}
.links a{
text-decoration: none;
color: rgb(66, 47, 63);

}

.links i{
    color: rgb(8, 185, 126);
}
.join input{
    width: 70%;
    border-radius: 20px;
    border: 1px solid rgb(218, 226, 233);
}
.join button{
    width: 25%;
    border-radius: 20px;
    border: 1px solid rgb(218, 226, 233);
    background-color:rgb(32, 182, 32) ;
    color: white;
    
}
.legal h6{
    font-size: 11px;
}

.row{
    display: flex ;
    justify-content: space-between;

}
.legal{
    padding-top: 20px;
    background-color: rgb(241, 241, 222);
}
.leagel i{
    font-size: 22px;
    color: rgb(66, 47, 63);
}
.leagel i:hover{
    color: blue;
}

